#!/usr/bin/env bash
# Load nix development environment
if ! has nix_direnv_version || ! nix_direnv_version 3.1.0; then
  source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/3.1.0/direnvrc" "sha256-yMJ2OVMzrFaDPn7q8nCBZFRYpL/f0RcHzhmw/i6btJM="
fi

use flake

if on_git_branch; then
  echo
  git status --short --branch
  echo
  git fetch --verbose || echo "git fetch skipped (offline or failed)"
fi
